In [189]:
import pandas as pd
import numpy as np

data = pd.read_csv('train.csv')

In [190]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [191]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [192]:
y = data['Survived']
data.drop('Survived', axis=1, inplace=True)

In [193]:
data.drop(['Cabin', 'PassengerId', 'Name', 'Ticket'], axis=1, inplace=True)

In [194]:
mean_age = np.mean(data['Age'])

In [196]:
data.loc[data['Age'].isnull(), 'Age'] = mean_age

In [123]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
Pclass      891 non-null int64
Sex         891 non-null object
Age         891 non-null float64
SibSp       891 non-null int64
Parch       891 non-null int64
Fare        891 non-null float64
Embarked    889 non-null object
dtypes: float64(2), int64(3), object(2)
memory usage: 48.8+ KB

In [197]:
data['Embarked'].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [198]:
nan_emb = data['Embarked'].isnull()

In [199]:
data.loc[nan_emb, 'Embarked'] = 'S'
data[nan_emb]

     Pclass     Sex   Age  SibSp  Parch  Fare Embarked
61        1  female  38.0      0      0  80.0        S
829       1  female  62.0      0      0  80.0        S

In [167]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
PassengerId    891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 76.6+ KB

In [127]:
data.head()

  Pclass     Sex Age SibSp Parch     Fare Embarked
0      3    male  22     1     0     7.25        S
1      1  female  38     1     0  71.2833        C
2      3  female  26     0     0    7.925        S
3      1  female  35     1     0     53.1        S
4      3    male  35     0     0     8.05        S

In [200]:
sex_ohe = pd.get_dummies(data.Sex)

In [201]:
data_s = pd.concat([data, sex_ohe], sort=False, axis=1)

In [202]:
data_s.head()

   Pclass     Sex   Age  SibSp  Parch     Fare Embarked  female  male
0       3    male  22.0      1      0   7.2500        S       0     1
1       1  female  38.0      1      0  71.2833        C       1     0
2       3  female  26.0      0      0   7.9250        S       1     0
3       1  female  35.0      1      0  53.1000        S       1     0
4       3    male  35.0      0      0   8.0500        S       0     1

In [204]:
data_s.drop('Sex', axis=1, inplace=True)

In [205]:
embarked_ohe = pd.get_dummies(data_s.Embarked)
data_s_e = pd.concat([data_s, embarked_ohe], axis=1, sort=False)

In [206]:
data_s_e.drop('Embarked', axis=1, inplace=True)

In [207]:
from sklearn.linear_model import logistic
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split

In [212]:
X = data_s_e.values

In [211]:
for i in X_train:
    if type(i) != 'float' or type(i) != 'int':
        print(i)

[3 27.0 0 2 11.1333 1 0 0 0 1]
[2 51.0 0 0 12.525 0 1 0 0 1]
[2 27.0 0 0 13.0 0 1 0 0 1]
[3 30.0 0 0 7.25 0 1 0 0 1]
[3 29.69911764705882 8 2 69.55 0 1 0 0 1]
[3 24.0 0 0 7.4958 0 1 0 0 1]
[2 34.0 0 0 13.0 0 1 0 0 1]
[1 52.0 0 0 30.5 0 1 0 0 1]
[2 0.67 1 1 14.5 0 1 0 0 1]
[1 54.0 1 0 59.4 1 0 1 0 0]
[2 24.0 1 2 65.0 1 0 0 0 1]
[3 24.0 0 0 7.7958 0 1 0 0 1]
[2 34.0 0 0 13.0 1 0 0 0 1]
[3 16.0 1 3 34.375 0 1 0 0 1]
[3 36.0 1 0 15.55 0 1 0 0 1]
[1 45.0 0 0 35.5 0 1 0 0 1]
[3 11.0 5 2 46.9 0 1 0 0 1]
[1 30.0 0 0 31.0 1 0 1 0 0]
[1 29.69911764705882 0 0 31.0 0 1 0 0 1]
[1 61.0 0 0 33.5 0 1 0 0 1]
[1 54.0 1 0 78.2667 1 0 1 0 0]
[3 29.69911764705882 0 0 7.2292 1 0 1 0 0]
[3 38.0 0 0 8.6625 0 1 0 0 1]
[3 11.0 4 2 31.275 1 0 0 0 1]
[3 19.0 0 0 7.8958 0 1 0 0 1]
[2 18.0 0 0 11.5 0 1 0 0 1]
[3 13.0 0 0 7.2292 1 0 1 0 0]
[3 29.69911764705882 0 0 7.75 0 1 0 1 0]
[2 39.0 0 0 26.0 0 1 0 0 1]
[1 48.0 1 0 39.6 1 0 1 0 0]
[3 34.0 0 0 8.05 0 1 0 0 1]
[3 28.5 0 0 16.1 0 1 0 0 1]
[1 38.0 0 0 0.0 0 1 0 0 1]
[3 29.69911764705882 0 0 7.75 0 1 0 1 0]
[2 24.0 2 0 73.5 0 1 0 0 1]
[1 60.0 1 0 75.25 1 0 1 0 0]
[3 61.0 0 0 6.2375 0 1 0 0 1]
[3 26.0 0 0 8.05 0 1 0 0 1]
[3 16.0 0 0 8.05 0 1 0 0 1]
[3 9.0 1 1 15.2458 1 0 1 0 0]
[2 24.0 0 2 14.5 1 0 0 0 1]
[2 54.0 0 0 14.0 0 1 0 0 1]
[3 29.69911764705882 0 0 7.3125 0 1 0 0 1]
[3 20.0 0 0 9.5 0 1 0 0 1]
[3 29.69911764705882 0 0 7.75 0 1 0 1 0]
[2 29.0 1 0 21.0 0 1 0 0 1]
[3 19.0 0 0 0.0 0 1 0 0 1]
[3 45.0 1 4 27.9 1 0 0 0 1]
[3 45.0 0 0 6.975 0 1 0 0 1]
[2 27.0 1 0 21.0 1 0 0 0 1]
[3 18.0 0 0 7.775 1 0 0 0 1]
[3 26.0 0 0 7.8958 0 1 0 0 1]
[2 32.0 1 0 26.0 0 1 0 0 1]
[2 32.5 1 0 30.0708 0 1 1 0 0]
[1 29.69911764705882 0 0 42.4 0 1 0 0 1]
[3 19.0 0 0 7.8958 0 1 0 0 1]
[2 44.0 1 0 26.0 1 0 0 0 1]
[1 48.0 0 0 26.55 0 1 0 0 1]
[3 24.0 0 0 7.8958 0 1 0 0 1]
[3 30.0 0 0 9.5 0 1 0 0 1]
[3 18.0 0 1 9.35 1 0 0 0 1]
[1 31.0 1 0 57.0 0 1 0 0 1]
[3 39.0 0 0 24.15 0 1 0 0 1]
[1 18.0 2 2 262.375 1 0 1 0 0]
[2 35.0 0 0 26.0 0 1 0 0 1]
[3 31.0 0 0 7.925 0 1 0 0 1]
[3 41.0 0 5 39.6875 1 0 0 0 1]
[3 21.0 0 0 16.1 0 1 0 0 1]
[3 25.0 0 0 7.05 0 1 0 0 1]
[3 32.0 0 0 7.8958 0 1 0 0 1]
[1 62.0 0 0 26.55 0 1 0 0 1]
[1 35.0 0 0 512.3292 1 0 1 0 0]
[1 46.0 0 0 79.2 0 1 1 0 0]
['S' 'S' 'S' 'S' 'S' 0 0 0 0 1]
[2 38.0 0 0 13.0 1 0 0 0 1]
[3 29.0 0 0 7.875 0 1 0 0 1]
[1 47.0 0 0 25.5875 0 1 0 0 1]
[3 18.0 0 0 8.3 0 1 0 0 1]
[3 40.5 0 2 14.5 0 1 0 0 1]
[3 16.0 0 0 9.2167 0 1 0 0 1]
[1 35.0 0 0 26.55 0 1 1 0 0]
[1 24.0 0 0 83.1583 1 0 1 0 0]
[1 42.0 0 0 26.2875 0 1 0 0 1]
[3 29.69911764705882 0 0 8.05 1 0 0 0 1]
[3 41.0 2 0 14.1083 0 1 0 0 1]
[3 26.0 2 0 8.6625 0 1 0 0 1]
[1 56.0 0 0 35.5 0 1 1 0 0]
[1 33.0 0 0 5.0 0 1 0 0 1]
[1 29.69911764705882 1 0 52.0 1 0 0 0 1]
[3 29.69911764705882 0 0 7.2292 0 1 1 0 0]
[3 21.0 0 0 7.7958 0 1 0 0 1]
[3 29.69911764705882 0 0 15.1 0 1 0 0 1]
[2 23.0 0 0 10.5 0 1 0 0 1]
[2 32.0 0 0 10.5 0 1 0 0 1]
[1 29.69911764705882 1 0 89.1042 1 0 1 0 0]
[3 16.0 0 0 8.05 0 1 0 0 1]
[1 36.0 0 1 512.3292 0 1 1 0 0]
[2 14.0 1 0 30.0708 1 0 1 0 0]
[2 1.0 0 2 37.0042 0 1 1 0 0]
[1 29.69911764705882 0 0 39.6 0 1 1 0 0]
[3 24.0 0 3 19.2583 1 0 1 0 0]
[2 18.0 0 1 23.0 1 0 0 0 1]
[3 40.0 1 0 9.475 1 0 0 0 1]
[3 29.69911764705882 0 0 7.6292 1 0 0 1 0]
[3 20.0 1 0 9.825 1 0 0 0 1]
[3 27.0 0 0 7.8958 0 1 0 0 1]
[3 28.0 0 0 56.4958 0 1 0 0 1]
[3 27.0 0 0 6.975 0 1 0 0 1]
[2 66.0 0 0 10.5 0 1 0 0 1]
[3 2.0 0 1 10.4625 1 0 0 0 1]
[3 19.0 0 0 7.8792 1 0 0 1 0]
[3 9.0 3 2 27.9 1 0 0 0 1]
[1 54.0 0 0 51.8625 0 1 0 0 1]
[3 29.69911764705882 0 0 7.75 0 1 0 1 0]
[1 28.0 0 0 47.1 0 1 0 0 1]
[3 29.69911764705882 1 0 14.4583 1 0 1 0 0]
[3 29.69911764705882 0 0 24.15 0 1 0 1 0]
[2 28.0 0 0 13.0 0 1 0 0 1]
[3 29.69911764705882 0 0 14.5 0 1 0 0 1]
[3 29.69911764705882 0 0 7.25 0 1 0 0 1]
[1 45.0 0 0 26.55 0 1 0 0 1]
[2 19.0 0 0 10.5 0 1 0 0 1]
[3 29.69911764705882 0 0 7.7375 1 0 0 1 0]
[3 29.69911764705882 0 0 14.4583 0 1 1 0 0]
[2 31.0 0 0 13.0 0 1 0 0 1]
[3 26.0 1 0 7.8542 0 1 0 0 1]
[3 29.69911764705882 0 0 7.7292 0 1 0 1 0]
[2 29.69911764705882 0 0 33.0 1 0 0 0 1]
[3 17.0 0 0 7.125 0 1 0 0 1]
[3 39.0 0 0 7.925 0 1 0 0 1]
[3 26.0 1 0 16.1 1 0 0 0 1]
[3 29.0 0 2 15.2458 1 0 1 0 0]
[1 27.0 0 0 76.7292 0 1 1 0 0]
[2 24.0 1 0 26.0 1 0 0 0 1]
[3 2.0 4 1 29.125 0 1 0 1 0]
[3 18.0 0 1 14.4542 1 0 1 0 0]
[1 36.0 0 0 26.3875 0 1 0 0 1]
[3 44.0 0 0 8.05 0 1 0 0 1]
[3 29.69911764705882 0 0 7.225 0 1 1 0 0]
[2 37.0 1 0 26.0 0 1 0 0 1]
[3 21.0 0 0 7.775 0 1 0 0 1]
[1 29.69911764705882 0 0 27.7208 0 1 1 0 0]
[1 38.0 1 0 71.2833 1 0 1 0 0]
[1 42.0 0 0 227.525 1 0 1 0 0]
[2 29.69911764705882 0 0 0.0 0 1 0 0 1]
[3 29.69911764705882 0 0 7.75 0 1 0 1 0]
[2 28.0 1 0 24.0 1 0 1 0 0]
[3 33.0 0 0 7.775 0 1 0 0 1]
[3 14.5 1 0 14.4542 1 0 1 0 0]
[3 17.0 4 2 7.925 1 0 0 0 1]
[3 26.0 0 0 56.4958 0 1 0 0 1]
[3 25.0 1 0 7.775 0 1 0 0 1]
[1 29.69911764705882 1 0 133.65 1 0 0 0 1]
[3 18.0 0 0 7.7958 0 1 0 0 1]
[3 29.69911764705882 0 0 15.5 0 1 0 1 0]
[3 29.69911764705882 0 0 14.5 0 1 0 0 1]
[1 4.0 0 2 81.8583 0 1 0 0 1]
[1 19.0 0 0 30.0 1 0 0 0 1]
[3 18.0 1 1 20.2125 0 1 0 0 1]
[3 22.0 1 0 7.25 0 1 0 0 1]
[3 29.69911764705882 8 2 69.55 0 1 0 0 1]
[3 29.69911764705882 0 0 7.225 0 1 1 0 0]
[3 18.0 0 0 7.775 0 1 0 0 1]
[3 24.0 1 0 16.1 0 1 0 0 1]
[3 1.0 4 1 39.6875 0 1 0 0 1]
[3 10.0 3 2 27.9 0 1 0 0 1]
[1 52.0 1 1 79.65 0 1 0 0 1]
[1 21.0 2 2 262.375 1 0 1 0 0]
[3 24.0 0 0 7.05 0 1 0 0 1]
[3 30.0 0 0 7.8958 0 1 0 0 1]
[3 33.0 0 0 8.6542 0 1 0 0 1]
[3 22.0 0 0 7.225 0 1 1 0 0]
[3 39.0 1 5 31.275 0 1 0 0 1]
[3 19.0 0 0 8.05 0 1 0 0 1]
[2 22.0 1 1 29.0 1 0 0 0 1]
[3 29.69911764705882 0 0 56.4958 0 1 0 0 1]
[3 17.0 0 0 14.4583 1 0 1 0 0]
[3 29.69911764705882 0 0 7.75 1 0 0 1 0]
[3 29.69911764705882 0 0 7.8958 0 1 0 0 1]
[3 47.0 0 0 7.25 0 1 0 0 1]
[3 29.0 0 0 9.4833 0 1 0 0 1]
[2 18.0 0 0 73.5 0 1 0 0 1]
[2 28.0 0 0 13.5 0 1 0 0 1]
[1 37.0 1 0 53.1 0 1 0 0 1]
[3 32.0 0 0 7.925 0 1 0 0 1]
[3 29.69911764705882 1 0 7.75 0 1 0 1 0]
[2 24.0 0 0 13.0 1 0 0 0 1]
[3 29.69911764705882 0 0 6.95 0 1 0 1 0]
[2 25.0 0 0 13.0 0 1 0 0 1]
[3 45.0 0 0 8.05 0 1 0 0 1]
[3 21.0 0 0 7.8542 0 1 0 0 1]
[1 39.0 1 1 110.8833 1 0 1 0 0]
[1 47.0 0 0 38.5 0 1 0 0 1]
[1 27.0 0 0 30.5 0 1 0 0 1]
[2 18.0 0 0 11.5 0 1 0 0 1]
[3 29.69911764705882 0 0 7.2292 0 1 1 0 0]
[3 29.69911764705882 0 0 7.8958 0 1 0 0 1]
[3 20.0 0 0 7.2292 0 1 1 0 0]
[1 29.69911764705882 1 0 51.8625 1 0 0 0 1]
[3 31.0 0 0 7.775 0 1 0 0 1]
[3 29.69911764705882 0 0 7.75 0 1 0 1 0]
[3 29.69911764705882 0 0 8.4583 0 1 0 1 0]
[1 55.0 0 0 30.5 0 1 0 0 1]
[3 29.0 0 0 9.5 0 1 0 0 1]
[3 29.69911764705882 0 0 7.225 1 0 1 0 0]
[3 33.0 3 0 15.85 1 0 0 0 1]
[1 14.0 1 2 120.0 1 0 0 0 1]
[2 35.0 0 0 21.0 1 0 0 0 1]
[1 23.0 1 0 113.275 1 0 1 0 0]
[1 32.0 0 0 30.5 0 1 1 0 0]
[3 4.0 4 1 29.125 0 1 0 1 0]
[2 39.0 0 0 13.0 0 1 0 0 1]
[3 41.0 0 0 7.125 0 1 0 0 1]
[2 32.5 0 0 13.0 1 0 0 0 1]
[3 29.69911764705882 8 2 69.55 1 0 0 0 1]
[3 32.0 0 0 7.925 0 1 0 0 1]
[3 9.0 1 1 15.9 0 1 0 0 1]
[3 23.0 0 0 7.925 1 0 0 0 1]
[1 60.0 1 1 79.2 0 1 1 0 0]
[3 22.0 0 0 7.75 1 0 0 1 0]
[3 29.0 0 0 7.75 0 1 0 1 0]
[1 16.0 0 0 86.5 1 0 0 0 1]
[2 4.0 2 1 39.0 1 0 0 0 1]
[3 15.0 0 0 7.225 1 0 1 0 0]
[3 29.69911764705882 8 2 69.55 1 0 0 0 1]
[3 16.0 0 0 7.775 0 1 0 0 1]
[3 2.0 3 1 21.075 0 1 0 0 1]
[2 33.0 0 0 12.275 0 1 0 0 1]
[2 36.0 0 0 12.875 0 1 1 0 0]
[3 29.69911764705882 0 0 8.05 0 1 0 0 1]
[2 52.0 0 0 13.5 0 1 0 0 1]
[3 29.69911764705882 1 0 24.15 1 0 0 1 0]
[3 29.69911764705882 0 0 7.8958 0 1 0 0 1]
[3 22.0 0 0 7.125 0 1 0 0 1]
[2 19.0 0 0 10.5 0 1 0 0 1]
[2 48.0 0 0 13.0 0 1 0 0 1]
[3 29.69911764705882 0 0 7.25 0 1 0 0 1]
[3 35.0 0 0 8.05 0 1 0 0 1]
[3 12.0 1 0 11.2417 0 1 1 0 0]
[3 20.0 0 0 7.8542 0 1 0 0 1]
[1 17.0 1 0 57.0 1 0 0 0 1]
[1 27.0 0 2 211.5 0 1 1 0 0]
[3 29.69911764705882 0 0 8.05 0 1 0 0 1]
[3 29.69911764705882 0 0 8.05 0 1 0 0 1]
[2 29.69911764705882 0 0 0.0 0 1 0 0 1]
[1 29.69911764705882 0 0 26.55 0 1 0 0 1]
[2 50.0 0 0 10.5 1 0 0 0 1]
[3 22.0 0 0 7.8958 0 1 0 0 1]
[3 28.0 0 0 7.8542 0 1 0 0 1]
[2 36.0 0 0 13.0 0 1 0 0 1]
[3 22.0 0 0 9.0 0 1 0 0 1]
[3 26.0 1 0 14.4542 0 1 1 0 0]
[2 17.0 0 0 12.0 1 0 1 0 0]
[2 27.0 0 0 26.0 0 1 0 0 1]
[2 45.0 1 1 26.25 1 0 0 0 1]
[2 36.0 0 0 13.0 1 0 0 0 1]
[1 24.0 0 0 79.2 0 1 1 0 0]
[1 41.0 0 0 134.5 1 0 1 0 0]
[3 51.0 0 0 8.05 0 1 0 0 1]
[1 30.0 0 0 86.5 1 0 0 0 1]
[2 24.0 2 3 18.75 1 0 0 0 1]
[2 23.0 0 0 15.0458 0 1 1 0 0]
[1 38.0 0 1 153.4625 0 1 0 0 1]
[1 58.0 0 1 153.4625 1 0 0 0 1]
[1 24.0 0 0 49.5042 1 0 1 0 0]
[2 42.0 0 0 13.0 0 1 0 0 1]
[3 29.69911764705882 1 0 15.5 0 1 0 1 0]
[2 23.0 2 1 11.5 0 1 0 0 1]
[1 49.0 1 0 76.7292 1 0 1 0 0]
[1 17.0 1 0 108.9 1 0 1 0 0]
[3 19.0 0 0 6.75 0 1 0 1 0]
[2 29.0 0 0 10.5 1 0 0 0 1]
[3 4.0 1 1 11.1333 0 1 0 0 1]
[3 18.0 2 0 18.0 1 0 0 0 1]
[3 29.69911764705882 0 0 7.75 0 1 0 1 0]
[2 30.0 1 0 24.0 0 1 1 0 0]
[2 29.0 0 0 10.5 0 1 0 0 1]
[2 27.0 0 0 13.0 0 1 0 0 1]
[3 25.0 0 0 7.7417 0 1 0 1 0]
[3 20.0 0 0 7.925 0 1 0 0 1]
[3 20.0 0 0 8.05 0 1 0 0 1]
[3 6.0 4 2 31.275 1 0 0 0 1]
[2 19.0 0 0 26.0 1 0 0 0 1]
[3 31.0 0 0 7.75 0 1 0 1 0]
[1 24.0 0 1 247.5208 0 1 1 0 0]
[2 28.0 0 0 13.0 1 0 0 0 1]
[3 22.0 0 0 9.8375 1 0 0 0 1]
[2 34.0 0 0 13.0 0 1 0 0 1]
[3 29.69911764705882 0 0 6.8583 0 1 0 1 0]
[2 24.0 0 0 13.0 0 1 0 0 1]
[1 46.0 1 0 61.175 0 1 0 0 1]
[1 29.0 1 0 66.6 0 1 0 0 1]
[2 36.0 1 2 27.75 0 1 0 0 1]
[2 34.0 1 1 32.5 1 0 0 0 1]
[1 29.69911764705882 0 0 50.0 0 1 0 0 1]
[3 28.0 1 1 14.4 1 0 0 0 1]
[3 29.69911764705882 0 0 7.75 0 1 0 1 0]
[3 20.0 0 0 9.8458 0 1 0 0 1]
[3 29.69911764705882 2 0 21.6792 0 1 1 0 0]
[2 42.0 0 0 13.0 0 1 0 0 1]
[3 28.0 0 0 9.5 0 1 0 0 1]
[3 29.69911764705882 0 0 56.4958 0 1 0 0 1]
[2 32.0 0 0 13.0 1 0 0 0 1]
[3 50.0 0 0 8.05 0 1 0 0 1]
[3 29.69911764705882 0 0 7.2292 0 1 1 0 0]
[3 24.0 0 0 8.85 1 0 0 0 1]
[3 29.69911764705882 0 0 8.05 0 1 0 0 1]
[1 31.0 0 0 50.4958 0 1 0 0 1]
[2 44.0 1 0 26.0 0 1 0 0 1]
[1 49.0 1 0 56.9292 0 1 1 0 0]
[3 29.69911764705882 0 2 22.3583 1 0 1 0 0]
[3 49.0 0 0 0.0 0 1 0 0 1]
[3 47.0 1 0 14.5 1 0 0 0 1]
[2 13.0 0 1 19.5 1 0 0 0 1]
[3 59.0 0 0 7.25 0 1 0 0 1]
[3 21.0 1 0 9.825 1 0 0 0 1]
[2 41.0 0 1 19.5 1 0 0 0 1]
[3 29.69911764705882 0 0 7.2292 0 1 1 0 0]
[1 56.0 0 1 83.1583 1 0 1 0 0]
[3 24.0 0 2 16.7 1 0 0 0 1]
[3 32.0 0 0 7.75 0 1 0 1 0]
[1 35.0 1 0 83.475 1 0 0 0 1]
[3 29.69911764705882 1 0 14.4542 1 0 1 0 0]
[1 36.0 0 0 40.125 0 1 1 0 0]
[1 29.69911764705882 0 0 227.525 0 1 1 0 0]
[3 33.0 0 0 8.6625 0 1 1 0 0]
[3 55.5 0 0 8.05 0 1 0 0 1]
[1 30.0 0 0 106.425 1 0 1 0 0]
[3 18.0 0 0 7.75 0 1 0 0 1]
[2 34.0 1 0 26.0 0 1 0 0 1]
[3 32.0 0 0 8.3625 0 1 0 0 1]
[1 36.0 0 0 26.2875 0 1 0 0 1]
[2 31.0 1 1 26.25 0 1 0 0 1]
[3 29.69911764705882 1 0 15.5 0 1 0 1 0]
[3 43.0 0 0 8.05 0 1 0 0 1]
[1 25.0 1 2 151.55 1 0 0 0 1]
[3 21.0 0 0 8.4333 0 1 0 0 1]
[2 45.0 0 0 13.5 1 0 0 0 1]
[1 28.0 1 0 82.1708 0 1 1 0 0]
[3 29.69911764705882 1 1 22.3583 1 0 1 0 0]
[2 4.0 1 1 23.0 1 0 0 0 1]
[2 36.0 0 0 10.5 0 1 0 0 1]
[3 36.0 0 0 7.8958 0 1 0 0 1]
[1 18.0 1 0 227.525 1 0 1 0 0]
[1 54.0 0 1 77.2875 0 1 0 0 1]
[3 2.0 0 1 12.2875 1 0 0 0 1]
[3 16.0 4 1 39.6875 0 1 0 0 1]
[2 54.0 1 0 26.0 0 1 0 0 1]
[3 29.69911764705882 0 0 7.8292 0 1 0 1 0]
[1 38.0 0 0 227.525 1 0 1 0 0]
[3 22.0 0 0 7.25 0 1 0 0 1]
[3 34.0 0 0 6.4958 0 1 0 0 1]
[1 29.69911764705882 0 1 55.0 1 0 0 0 1]
[1 35.0 0 0 26.2875 0 1 0 0 1]
[3 29.69911764705882 3 1 25.4667 1 0 0 0 1]
[2 8.0 1 1 36.75 0 1 0 0 1]
[2 29.0 1 0 27.7208 0 1 1 0 0]
[1 45.0 1 0 83.475 0 1 0 0 1]
[1 29.69911764705882 0 0 27.7208 0 1 1 0 0]
[2 16.0 0 0 26.0 0 1 0 0 1]
[3 29.69911764705882 0 0 7.75 1 0 0 1 0]
[1 56.0 0 0 26.55 0 1 0 0 1]
[3 3.0 1 1 15.9 0 1 0 0 1]
[3 32.0 1 0 15.85 0 1 0 0 1]
[3 29.69911764705882 8 2 69.55 0 1 0 0 1]
[3 4.0 4 2 31.275 0 1 0 0 1]
[3 31.0 1 0 18.0 1 0 0 0 1]
[3 29.69911764705882 0 0 7.775 0 1 0 0 1]
[3 21.0 2 2 34.375 1 0 0 0 1]
[3 20.0 0 0 4.0125 0 1 1 0 0]
[3 8.0 3 1 21.075 1 0 0 0 1]
[3 28.0 2 0 7.925 0 1 0 0 1]
[1 2.0 1 2 151.55 1 0 0 0 1]
[3 17.0 1 0 7.0542 0 1 0 0 1]
[1 35.0 1 0 52.0 1 0 0 0 1]
[3 20.0 0 0 8.6625 1 0 0 0 1]
[2 31.0 0 0 10.5 0 1 0 0 1]
[3 29.69911764705882 0 0 7.75 1 0 0 1 0]
[3 29.0 0 0 8.05 0 1 0 0 1]
[1 29.69911764705882 0 0 110.8833 1 0 1 0 0]
[3 29.69911764705882 2 0 23.25 1 0 0 1 0]
[2 30.0 0 0 12.35 1 0 0 1 0]
[3 29.69911764705882 0 0 7.75 1 0 0 1 0]
[2 28.0 0 0 12.65 1 0 0 0 1]
[2 29.69911764705882 0 0 0.0 0 1 0 0 1]
[3 20.0 0 0 8.6625 0 1 0 0 1]
[2 23.0 0 0 13.0 0 1 0 0 1]
[3 5.0 0 0 12.475 1 0 0 0 1]
[1 15.0 0 1 211.3375 1 0 0 0 1]
[3 29.0 1 0 7.0458 0 1 0 0 1]
[3 26.0 0 0 7.8875 0 1 0 0 1]
[3 20.0 1 1 15.7417 0 1 1 0 0]
[3 29.69911764705882 0 0 7.7333 1 0 0 1 0]
[2 3.0 1 2 41.5792 1 0 1 0 0]
[3 16.0 2 0 18.0 0 1 0 0 1]
[2 40.0 0 0 13.0 1 0 0 0 1]
[3 28.0 0 0 7.7958 0 1 0 0 1]
[2 24.0 0 0 10.5 0 1 0 0 1]
[2 19.0 0 0 13.0 0 1 0 0 1]
[3 29.69911764705882 1 0 15.5 1 0 0 1 0]
[3 24.0 0 0 7.1417 0 1 0 0 1]
[3 0.42 0 1 8.5167 0 1 1 0 0]
[3 48.0 0 0 7.8542 0 1 0 0 1]
[2 29.0 1 0 26.0 1 0 0 0 1]
[2 25.0 0 1 26.0 1 0 0 0 1]
[3 29.69911764705882 1 0 16.1 0 1 0 0 1]
[2 43.0 1 1 26.25 0 1 0 0 1]
[1 29.0 0 0 30.0 0 1 0 0 1]
[1 28.0 0 0 26.55 0 1 0 0 1]
[3 32.0 0 0 8.05 0 1 0 0 1]
[1 29.69911764705882 0 0 0.0 0 1 0 0 1]
[3 28.0 0 0 7.8958 0 1 0 0 1]
[3 19.0 0 0 14.5 0 1 0 0 1]
[3 29.69911764705882 0 0 7.8792 1 0 0 1 0]
[3 16.0 1 1 20.25 0 1 0 0 1]
[3 30.0 0 0 8.05 0 1 0 0 1]
[3 29.69911764705882 1 0 19.9667 0 1 0 0 1]
[2 19.0 1 0 26.0 1 0 0 0 1]
[3 20.0 0 0 7.05 0 1 0 0 1]
[1 49.0 0 0 25.9292 1 0 0 0 1]
[1 45.5 0 0 28.5 0 1 0 0 1]
[3 29.69911764705882 0 0 7.225 0 1 1 0 0]
[3 29.69911764705882 0 0 7.75 0 1 0 1 0]
[3 40.0 0 0 7.8958 0 1 0 0 1]
[1 29.69911764705882 0 0 30.0 0 1 0 0 1]
[2 28.0 0 0 10.5 0 1 0 0 1]
[3 30.0 0 0 7.2292 0 1 1 0 0]
[3 22.0 0 0 7.7958 0 1 0 0 1]
[2 7.0 0 2 26.25 1 0 0 0 1]
[3 19.0 0 0 10.1708 0 1 0 0 1]
[3 24.0 2 0 24.15 0 1 0 0 1]
[1 0.92 1 2 151.55 0 1 0 0 1]
[3 22.0 0 0 7.5208 0 1 0 0 1]
[1 36.0 1 2 120.0 1 0 0 0 1]
[2 6.0 0 1 33.0 1 0 0 0 1]
[1 30.0 0 0 93.5 1 0 0 0 1]
[3 29.69911764705882 8 2 69.55 1 0 0 0 1]
[3 18.0 0 0 6.75 1 0 0 1 0]
[1 29.69911764705882 0 0 35.5 0 1 0 0 1]
[3 21.0 0 0 7.8 0 1 0 0 1]
[3 29.69911764705882 0 0 7.05 0 1 0 0 1]
[2 2.0 1 1 26.0 1 0 0 0 1]
[3 22.0 0 0 7.75 1 0 0 0 1]
[3 14.0 4 1 39.6875 0 1 0 0 1]
[3 41.0 0 2 20.2125 1 0 0 0 1]
[2 34.0 0 0 10.5 1 0 0 0 1]
[1 33.0 1 0 90.0 1 0 0 1 0]
[1 22.0 0 1 55.0 1 0 0 0 1]
[3 25.0 0 0 7.775 1 0 0 0 1]
[1 26.0 0 0 78.85 1 0 0 0 1]
[1 29.69911764705882 1 0 146.5208 1 0 1 0 0]
[3 17.0 0 0 8.6625 0 1 0 0 1]
[3 35.0 1 1 20.25 1 0 0 0 1]
[1 29.69911764705882 0 0 52.0 0 1 0 0 1]
[3 29.69911764705882 0 0 7.8958 0 1 0 0 1]
[3 36.0 1 0 17.4 1 0 0 0 1]
[2 29.69911764705882 0 0 12.35 1 0 0 1 0]
[3 29.69911764705882 0 0 8.05 0 1 0 0 1]
[1 16.0 0 1 57.9792 1 0 1 0 0]
[3 25.0 1 0 7.925 1 0 0 0 1]
[2 31.0 1 1 26.25 1 0 0 0 1]
[1 37.0 0 1 29.7 0 1 1 0 0]
[3 29.0 0 0 7.8958 0 1 1 0 0]
[2 29.69911764705882 0 0 0.0 0 1 0 0 1]
[1 70.0 1 1 71.0 0 1 0 0 1]
[2 24.0 2 1 27.0 1 0 0 0 1]
[3 25.0 1 0 17.8 0 1 0 0 1]
[2 35.0 0 0 10.5 0 1 0 0 1]
[2 21.0 0 0 73.5 0 1 0 0 1]
[2 25.0 1 1 30.0 1 0 0 0 1]
[2 30.0 0 0 10.5 0 1 0 0 1]
[3 29.69911764705882 0 0 8.05 0 1 0 0 1]
[2 29.0 1 0 26.0 1 0 0 0 1]
[1 17.0 0 2 110.8833 0 1 1 0 0]
[2 23.0 0 0 13.0 0 1 0 0 1]
[2 26.0 1 1 26.0 1 0 0 0 1]
[2 30.0 0 0 13.0 0 1 0 0 1]
[2 30.0 3 0 21.0 1 0 0 0 1]
[1 29.69911764705882 0 0 30.6958 0 1 1 0 0]
[1 60.0 0 0 26.55 0 1 0 0 1]
[1 29.69911764705882 1 0 82.1708 1 0 1 0 0]
[1 49.0 1 0 89.1042 0 1 1 0 0]
[3 29.69911764705882 0 0 7.7333 0 1 0 1 0]
[3 25.0 0 0 7.05 0 1 0 0 1]
[1 39.0 0 0 0.0 0 1 0 0 1]
[3 30.0 0 0 8.6625 1 0 0 0 1]
[2 48.0 1 2 65.0 1 0 0 0 1]
[3 22.0 0 0 8.05 0 1 0 0 1]
[1 50.0 1 0 106.425 0 1 1 0 0]
[2 29.69911764705882 0 0 15.05 0 1 1 0 0]
[2 3.0 1 1 18.75 0 1 0 0 1]
[1 40.0 0 0 27.7208 0 1 1 0 0]
[3 29.69911764705882 0 0 7.8958 0 1 0 0 1]
[3 29.69911764705882 0 0 8.05 0 1 0 0 1]
[3 4.0 0 1 13.4167 1 0 1 0 0]
[1 48.0 1 0 76.7292 0 1 1 0 0]
[3 33.0 1 1 20.525 0 1 0 0 1]
[3 23.0 0 0 9.225 0 1 0 0 1]
[3 74.0 0 0 7.775 0 1 0 0 1]
[3 29.69911764705882 0 0 7.225 0 1 1 0 0]
[3 24.5 0 0 8.05 0 1 0 0 1]
[1 40.0 0 0 31.0 0 1 1 0 0]
[2 59.0 0 0 13.5 0 1 0 0 1]
[1 56.0 0 0 30.6958 0 1 1 0 0]
[3 29.69911764705882 0 0 8.05 0 1 0 0 1]
[3 40.5 0 0 7.75 0 1 0 1 0]
[3 29.0 0 4 21.075 1 0 0 0 1]
[1 24.0 0 0 69.3 1 0 1 0 0]
[1 36.0 1 0 78.85 0 1 0 0 1]
[3 21.0 0 0 7.925 0 1 0 0 1]
[3 29.69911764705882 0 0 7.55 0 1 0 0 1]
[3 29.69911764705882 0 0 56.4958 0 1 0 0 1]
[3 39.0 1 5 31.275 1 0 0 0 1]
[3 29.69911764705882 0 0 7.2292 0 1 1 0 0]
[2 42.0 1 0 27.0 0 1 0 0 1]
[2 19.0 1 1 36.75 0 1 0 0 1]
[1 29.69911764705882 0 0 26.0 0 1 0 0 1]
[3 9.0 2 2 34.375 1 0 0 0 1]
[3 29.69911764705882 0 0 9.5 0 1 0 0 1]
[3 29.69911764705882 1 1 15.2458 0 1 1 0 0]
[3 3.0 4 2 31.3875 0 1 0 0 1]
[3 25.0 0 0 0.0 0 1 0 0 1]
[3 14.0 5 2 46.9 0 1 0 0 1]
[2 34.0 0 0 13.0 0 1 0 0 1]
[3 5.0 4 2 31.3875 1 0 0 0 1]
[1 58.0 0 2 113.275 0 1 1 0 0]
[1 31.0 0 2 164.8667 1 0 0 0 1]
[1 33.0 0 0 86.5 1 0 0 0 1]
[2 55.0 0 0 16.0 1 0 0 0 1]
[2 33.0 1 2 27.75 1 0 0 0 1]
[3 29.69911764705882 0 0 8.7125 0 1 1 0 0]
[3 23.5 0 0 7.2292 0 1 1 0 0]
[3 45.0 0 0 7.75 1 0 0 0 1]
[3 22.0 0 0 7.25 1 0 0 0 1]
[3 29.69911764705882 0 0 8.05 0 1 0 0 1]
[2 60.0 1 1 39.0 0 1 0 0 1]
[1 64.0 0 0 26.0 0 1 0 0 1]
[3 47.0 0 0 9.0 0 1 0 0 1]
[1 29.69911764705882 0 0 221.7792 0 1 0 0 1]
[3 29.69911764705882 1 0 19.9667 0 1 0 0 1]
[3 38.0 0 0 7.05 0 1 0 0 1]
[3 25.0 0 0 7.8958 0 1 0 0 1]
[1 18.0 1 0 108.9 0 1 1 0 0]
[3 29.69911764705882 0 0 8.6625 0 1 0 0 1]
[3 29.69911764705882 0 0 7.8792 1 0 0 1 0]
[2 28.0 1 0 26.0 1 0 0 0 1]
[3 48.0 1 3 34.375 1 0 0 0 1]
[2 29.69911764705882 0 0 13.0 0 1 0 0 1]
[1 45.0 1 1 164.8667 1 0 0 0 1]
[2 30.0 0 0 13.0 0 1 0 0 1]
[1 11.0 1 2 120.0 0 1 0 0 1]
[3 26.0 0 0 7.775 0 1 0 0 1]
[1 61.0 0 0 32.3208 0 1 0 0 1]
[3 29.69911764705882 0 0 8.05 0 1 0 0 1]
[1 71.0 0 0 34.6542 0 1 1 0 0]
[1 29.0 0 0 211.3375 1 0 0 0 1]
[1 44.0 0 0 27.7208 1 0 1 0 0]
[1 50.0 2 0 133.65 0 1 0 0 1]
[3 9.0 0 2 20.525 0 1 0 0 1]
[3 29.69911764705882 0 0 7.8958 0 1 0 0 1]
[3 30.5 0 0 7.75 1 0 0 1 0]
[3 32.0 0 0 7.925 0 1 0 0 1]
[1 35.0 0 0 512.3292 0 1 1 0 0]
[3 19.0 1 0 7.8542 1 0 0 0 1]
[3 26.0 1 2 20.575 0 1 0 0 1]
[3 38.0 0 0 7.8958 0 1 0 0 1]
[2 25.0 1 0 26.0 0 1 0 0 1]
[3 11.0 0 0 18.7875 0 1 1 0 0]
[2 30.0 0 0 13.0 1 0 0 0 1]
[3 16.0 0 0 9.5 0 1 0 0 1]
[3 25.0 0 0 7.25 0 1 0 0 1]
[1 43.0 0 1 211.3375 1 0 0 0 1]
[3 0.75 2 1 19.2583 1 0 1 0 0]
[1 52.0 1 0 78.2667 1 0 1 0 0]
[2 24.0 0 0 13.0 1 0 0 0 1]
[3 24.0 0 0 9.5 0 1 0 0 1]
[3 33.0 0 0 7.8958 0 1 0 0 1]
[3 31.0 1 1 20.525 1 0 0 0 1]
[2 25.0 0 0 13.0 0 1 0 0 1]
[2 50.0 0 0 13.0 0 1 0 0 1]
[3 29.69911764705882 0 0 7.8958 0 1 0 0 1]
[3 29.69911764705882 0 0 7.8958 0 1 0 0 1]
[1 39.0 1 1 79.65 1 0 0 0 1]
[3 29.69911764705882 0 0 7.8958 0 1 1 0 0]
[1 65.0 0 1 61.9792 0 1 1 0 0]
[1 21.0 0 0 77.9583 1 0 0 0 1]
[2 36.0 0 0 13.0 1 0 0 0 1]
[3 17.0 0 0 8.6625 0 1 0 0 1]
[1 22.0 0 0 151.55 1 0 0 0 1]
[1 37.0 1 1 52.5542 0 1 0 0 1]
[3 22.0 0 0 10.5167 1 0 0 0 1]
[3 29.69911764705882 0 0 7.7375 0 1 0 1 0]
[3 26.0 0 0 7.925 1 0 0 0 1]
[1 36.0 0 2 71.0 1 0 0 0 1]
[1 51.0 0 1 61.3792 0 1 1 0 0]
[1 45.0 0 0 26.55 0 1 0 0 1]
[3 22.0 0 0 7.8958 0 1 0 0 1]
[3 51.0 0 0 7.75 0 1 0 0 1]
[2 32.0 2 0 73.5 0 1 0 0 1]
[1 30.0 0 0 27.75 0 1 1 0 0]
[1 40.0 0 0 153.4625 1 0 0 0 1]
[3 6.0 0 1 12.475 0 1 0 0 1]
[3 35.0 0 0 8.05 0 1 0 0 1]
[3 4.0 0 2 22.025 1 0 0 0 1]
[3 28.5 0 0 7.2292 0 1 1 0 0]
[1 31.0 1 0 113.275 1 0 1 0 0]
[2 36.5 0 2 26.0 0 1 0 0 1]
[3 18.0 0 0 9.8417 1 0 0 0 1]
[3 22.0 0 0 8.05 0 1 0 0 1]
[1 29.69911764705882 0 0 79.2 1 0 1 0 0]
[2 62.0 0 0 10.5 0 1 0 0 1]
[2 42.0 0 0 13.0 1 0 0 0 1]
[1 35.0 1 0 90.0 1 0 0 0 1]
[3 20.0 0 0 7.8542 0 1 0 0 1]
[2 57.0 0 0 12.35 0 1 0 1 0]
[2 54.0 0 0 26.0 0 1 0 0 1]
[3 37.0 0 0 9.5875 1 0 0 0 1]
[3 26.0 0 0 7.8958 0 1 0 0 1]
[2 16.0 0 0 10.5 0 1 0 0 1]
[1 71.0 0 0 49.5042 0 1 1 0 0]
[1 29.69911764705882 0 0 0.0 0 1 0 0 1]
[3 18.0 0 0 7.4958 1 0 0 0 1]
[3 44.0 0 1 16.1 0 1 0 0 1]
[3 21.0 0 0 7.75 1 0 0 1 0]
[3 36.0 0 0 0.0 0 1 0 0 1]
[3 42.0 0 1 8.4042 0 1 0 0 1]
[3 28.0 0 0 7.8958 0 1 0 0 1]
[2 29.69911764705882 0 0 0.0 0 1 0 0 1]
[3 17.0 1 1 7.2292 0 1 1 0 0]

In [213]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=12)

In [214]:
regr = logistic.LogisticRegression()

In [215]:
regr.fit(X_train, y_train)

/usr/local/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [216]:
regr.score(X_test, y_test)

0.7821229050279329